@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato-Regular.woff2"), url("../fonts/Lato-Regular.woff");
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato-Bold.woff2"), url("../fonts/Lato-Bold.woff");
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato-Black.woff2"), url("../fonts/Lato-Black.woff");
	font-display: swap;
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: "Larsseit";
	src: url("../fonts/Larsseit-Regular.woff2"), url("../fonts/Larsseit-Regular.woff");
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Larsseit";
	src: url("../fonts/Larsseit-Medium.woff2"), url("../fonts/Larsseit-Medium.woff");
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Larsseit";
	src: url("../fonts/Larsseit-Bold.woff2"), url("../fonts/Larsseit-Bold.woff");
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}

h1 {
	font-size: 50px;
	color: blueviolet;
	font-family: Lato;
	font-weight: 900;
}

h2 {
	font-size: 30px;
	color: blue;
	font-family: Lato;
	font-weight: 700;
}

li a,
footer p {
	font-size: 20px;
	color: brown;
	font-family: Larsseit;
}

p {
	font-size: 20px;
	font-family: Roboto;
}

.ocinka {
	font-family: Larsseit;
	color: green;
}

a {
	font-size: 25px;
	color: red;
	font-family: Larsseit;
}