@import url(https://fonts.googleapis.com/css?family=Lato:regular,700,900&display=swap);

body {
	font-family: Lato, sans-serif;
	color: #424551;
}

.wrapper {
	position: relative;
	overflow: hidden;
	min-height: 100%;

	display: flex;
	flex-direction: column;
}

.wrapper>main {
	flex-grow: 1;
}

[class*="__container"] {
	max-width: 1260px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

.page {}
.page__questions {}

/* ================================ */
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 0;
	z-index: 50;
}
.header__container {
	display: flex;
	gap: 60px;
	align-items: center;
}
.header__logo {}
.header__menu {
	flex-grow: 1;
}

.menu {}
.menu__list {
	display: flex;
	flex-wrap: wrap;
	column-gap: 40px;
	row-gap: 10px;
}
.menu__item {}
.menu__link {
	font-weight: 700;
}
.menu__link:hover {
	text-decoration: underline;
}

.header__actions {}
.actions-header {
	flex-shrink: 0;
	display: flex;
	align-items: center;
	gap: 36px;
	flex-wrap: wrap;
}
.actions-header__button {}
.actions-header__auth {
	background: url(../img/icons/user.svg) left no-repeat;
	padding-left: 24px;
	font-weight: 700;
	line-height: 1.25;
}
.actions-header__auth:hover span {
	text-decoration: underline;
}

/* ================================ */
.any-questions {
	padding: 180px 0;
}
.any-questions__container {
	display: flex;
	align-items: center;
}
.any-questions__media {
	flex: 0 1 35%;
}
.any-questions__image {
	min-width: 100%;
}
.any-questions__content {
	padding-left: 105px;
	flex: 0 1 65%;
}
.content-form {
}
.content-form__text:not(:last-child) {
	margin-bottom: 40px;
}
.content-form__subtitle:not(:last-child) {
	margin-bottom: 8px;
}
.content-form__title:not(:last-child) {
	margin-bottom: 40px;
}
.content-form__form:not(:last-child) {
	margin-bottom: 40px;
}
.form {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -12.5px;
	row-gap: 24px;
}
.form__line {
	flex-basis: 50%;
	padding: 0 12.5px;
	display: flex;
	flex-direction: column;
	gap: 8px;
	position: relative;
}
.form__line--message {
	flex: 0 1 100%;
}
.form__line--radio {
	flex: 0 1 100%;
}
.form__radio {
	position: absolute;
	visibility: hidden;
}
.form__label--radio-select {
	padding-left: 28px;
	position: relative;
}
.form__label--radio-select::before {
	position: absolute;
	content: "";
	top: 4px;
	left: 0px;
	width: 16px;
	height: 16px;
	border: 1px solid #ff3f3a;
	border-radius: 50%;
}
.form__label--radio-select::after {
	position: absolute;
	content: "";
	top: 8px;
	left: 4px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	transition: all 0.3s ease 0s;
}
.form__radio:checked + .form__label--radio-select::after {
	background: #ff3f3a;
}
.form__line--checkbox{
	flex-direction: row;
	gap: 12px;
}
#agreement {
	position: absolute;
	width: 0;
	height: 0;
	opacity: 0;
}
.form__label--checkbox{
	cursor: pointer;
	padding-left: 28px;
}
#agreement:checked + .form__label--checkbox::before {
	background: #FF3F3A url(../img/icons/check.svg) center no-repeat;
}
.form__label--checkbox::before {
	content: "";
	width: 16px;
	height: 16px;
	border: 1px solid #FF3F3A;
	border-radius: 3px;
	position: absolute;
	top: 5px;
	left: 12.5px;
	transition: all 0.3s ease;
}
.form__line--button{}
.form__label {
	line-height: 160%;
}
.form__input {
	border: 1px solid #D7DADD;
	border-radius: 4px;
	height: 52px;
	padding: 0 16px;
}
.form__input:focus {
	outline: 1px solid #ebb8b0;
	border: 1px solid transparent;
	box-shadow: 0px 0px 20px #ffdad4;
}
.form__textarea {
	border: 1px solid #D7DADD;
	border-radius: 4px;
	padding: 13px 16px;
	height: 128px;
	resize: vertical;
}
.form__textarea:focus {
	outline: 1px solid #ebb8b0;
	border: 1px solid transparent;
	box-shadow: 0px 0px 20px #ffdad4;
}
.form__input::placeholder {
	color: #9A9CA5;
	line-height: 160%;
}
.form__textarea::placeholder {
	color: #9A9CA5;
	line-height: 160%;
}
.form__submit {
	width: 100%;
}