@font-face {
	font-family: Lato;
	src: url(../fonts/Lato-Regular.woff2), url(../fonts/Lato-Regular.woff);
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: Lato;
	src: url(../fonts/Lato-Bold.woff2), url(../fonts/Lato-Bold.woff);
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: Lato;
	src: url(../fonts/Lato-Black.woff2), url(../fonts/Lato-Black.woff);
	font-display: swap;
	font-weight: 900;
	font-style: normal;
}

.article {
	font-family: Lato, sans-serif;
	color: #424551;
	padding-top: 80px;
	padding-bottom: 180px;
}

.article__container {
	max-width: 810px;
	margin: 0 auto;
}

.article__title {
	font-weight: 900;
	font-size: 46px;
	line-height: 130%;
	color: #1E212C;
	margin-bottom: 92px;
}

.article__image {
	max-width: 100%;
	border-radius: 4px;
	overflow: hidden;
	margin-bottom: 60px;
}

.article__text-main {
	font-weight: 700;
	font-size: 20px;
	line-height: 150%;
	color: #1E212C;
	margin-bottom: 24px;
}

.article__text {
	line-height: 160%;
}

.article__text p {
	margin-bottom: 24px;
}

.article__text ul {
	margin-bottom: 24px;
}

.article__text ul li {
	margin-left: 32px;
}

.article__text ul li::before {
	content: "";
	display: inline-block;
	background: url(../img/icons/check.svg) 0 0 no-repeat;
	width: 16px;
	height: 16px;
	margin-right: 16px;
	margin-left: -32px;
}

.article__text ul li:not(:last-child) {
	margin-bottom: 4px;
}

.article__text>*:last-child {
	margin-bottom: 0;
}

.article__text--margin1:not(:last-child) {
	margin-bottom: 52px;
}

.article__text--margin2:not(:last-child) {
	margin-bottom: 60px;
}

.article__quote {
	font-weight: 700;
	font-size: 20px;
	line-height: 150%;
	color: #1E212C;
	margin-left: 58px;
}

.article__quote::before {
	content: "";
	display: inline-block;
	background: url(../img/icons/braces.svg) 0 0 no-repeat;
	width: 28px;
	height: 20px;
	margin-right: 30px;
	margin-left: -58px;
}

.article__quote:not(:last-child) {
	margin-bottom: 44px;
}