@font-face {
	font-family: Lato;
	src: url(../fonts/Lato-Regular.woff2), url(../fonts/Lato-Regular.woff);
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: Lato;
	src: url(../fonts/Lato-Bold.woff2), url(../fonts/Lato-Bold.woff);
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: Lato;
	src: url(../fonts/Lato-Black.woff2), url(../fonts/Lato-Black.woff);
	font-display: swap;
	font-weight: 900;
	font-style: normal;
}

body {
	font-family: Lato, sans-serif;
	color: #424551;
}

main {
	padding-bottom: 120px;
}

.online-course {
	padding-top: 120px;
	padding-bottom: 180px;
}

[class*="-container"] {
	max-width: 1230px;
	margin: 0 auto;
}

.about h2 {
	font-weight: 900;
	font-size: 46px;
	line-height: 130%;
	color: #1E212C;
	margin-bottom: 40px;
}

.about p {
	line-height: 160%;
	margin-bottom: 48px;
}

.learn h3 {
	font-weight: 700;
	font-size: 28px;
	line-height: 150%;
	color: #1E212C;
	margin-bottom: 24px;
}

.learn ul {
	line-height: 160%;
}

.learn ul li {
	margin-bottom: 4px;
}

.learn ul li::before {
	background: url(../img/icons/check.png) 0 0 no-repeat;
	content: "";
	width: 16px;
	height: 16px;
	display: inline-block;
	margin-right: 16px;
}

.course-container {
	margin-bottom: 200px;
}

.curator-description h6 {
	font-weight: 700;
	line-height: 150%;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #1E212C;
	margin-bottom: 8px;
}

.curator-description h2 {
	font-weight: 900;
	font-size: 46px;
	line-height: 130%;
	color: #1E212C;
	margin-bottom: 16px;
}

.curator-description .subtitle {
	font-size: 20px;
	line-height: 150%;
	color: #787A80;
	margin-bottom: 32px;
}

.curator-description ul {
	font-weight: 700;
	line-height: 160%;
	margin-bottom: 32px;
}

.curator-description ul li:not(:last-child) {
	margin-bottom: 4px;
}

.curator-description ul li:first-child::before {
	background: url(../img/icons/star.png) 0 0 no-repeat;
	content: "";
	width: 16px;
	height: 16px;
	display: inline-block;
	margin-right: 8px;
}

.curator-description ul li:nth-child(2):before {
	background: url(../img/icons/play.png) 0 0 no-repeat;
	content: "";
	width: 16px;
	height: 16px;
	display: inline-block;
	margin-right: 8px;
}

.curator-description ul li:last-child::before {
	background: url(../img/icons/person.png) 0 0 no-repeat;
	content: "";
	width: 16px;
	height: 16px;
	display: inline-block;
	margin-right: 8px;
}

.curator-description p {
	line-height: 160%;
	margin-bottom: 40px;
}

.curator-description .facebook {
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url(../img/social/facebook.png) 0 0 no-repeat;
	margin-right: 24px;
}

.curator-description .facebook:hover {
	background: url(../img/social/facebook_hover.png) 0 0 no-repeat;
}


.curator-description .behance {
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url(../img/social/behance.png) 0 0 no-repeat;
	margin-right: 24px;
}

.curator-description .behance:hover {
	background: url(../img/social/behance_hover.png) 0 0 no-repeat;
}

.curator-description .twitter {
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url(../img/social/twitter.png) 0 0 no-repeat;
	margin-right: 24px;
}

.curator-description .twitter:hover {
	background: url(../img/social/twitter_hover.png) 0 0 no-repeat;
}

.curator-description .linked-in {
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url(../img/social/linked-in.png) 0 0 no-repeat;
}

.curator-description .linked-in:hover {
	background: url(../img/social/linked-in_hover.png) 0 0 no-repeat;
}

.homework {
	color: #000;
	margin-bottom: 180px;
}

.psevdoklasy h2 {
	margin: 0 auto;
	text-align: center;
	padding-top: 9px;
	font-size: 46px;
	font-weight: 900;
	height: 65px;
	width: 300px;
	background-color: #FF3F3A;
	border-radius: 20px;
}

.stan {
	border: 3px solid #FF3F3A;
	border-radius: 20px;
	width: 100%;
	height: 200px;
	padding-top: 75px;
	padding-left: 220px;
}

.stan a {
	font-size: 30px;
	display: inline-block;
	width: 160px;
	height: 50px;
	padding-top: 10px;
	text-align: center;
	border-radius: 20px;
	background-color: gold;
}

.stan a:not(:last-child) {
	margin-right: 50px;
}

.stan a:hover {
	text-decoration: underline;
}

.active:active {
	background-color: greenyellow;
}

.visited:visited {
	color: gold;
	background-color: #000;
}

.focus:focus {
	outline: 3px solid #FF3F3A;
}

.target:target {
	background-color: hotpink;
}

.polozhennya {
	border: 3px solid gold;
	border-radius: 20px;
	width: 100%;
	font-size: 20px;
	line-height: 1.3;
	padding: 30px;
}

.polozhennya p,
.polozhennya div:not(:last-child) {
	margin-bottom: 20px;
}

.polozhennya div:last-child {
	color: #FF3F3A;
}

.polozhennya p:first-of-type {
	color: hotpink;
}

.polozhennya p:nth-child(odd) {
	color: darkblue;
}

.game {
	background: linear-gradient(0deg, rgba(12, 73, 33, 1) 0%, rgba(92, 255, 200, 1) 100%);
	color: #000;
}

.game-container {
	background: url(../img/game_background.png) 0 0 / contain no-repeat;
	padding-top: 30px;
}

.game-container h2 {
	margin: 0 auto;
	text-align: center;
	padding-top: 3px;
	font-size: 46px;
	font-weight: 700;
	height: 65px;
	width: 450px;
	background-color: yellow;
	border-radius: 20px;
	border: 6px solid #000;
}

.game-blocks {
	padding-top: 315px;
}

.block1 {
	background: url(../img/start.png) 0 0 / contain no-repeat;
	width: 159px;
	height: 88px;
	margin-left: 20px;
}

.block2 {
	width: 180px;
	height: 20px;
	background-color: yellow;
	margin-top: -60px;
	margin-left: 174px;
	visibility: hidden;
}

.block3 {
	width: 20px;
	height: 150px;
	background-color: yellow;
	margin-left: 334px;
	visibility: hidden;
}

.block4 {
	width: 250px;
	height: 20px;
	background-color: yellow;
	margin-left: 334px;
	visibility: hidden;
}

.block5 {
	width: 20px;
	height: 90px;
	background-color: yellow;
	margin-left: 584px;
	margin-top: -90px;
	visibility: hidden;
}

.block6 {
	width: 150px;
	height: 20px;
	background-color: yellow;
	margin-left: 584px;
	margin-top: -90px;
	visibility: hidden;
}

.block7 {
	width: 20px;
	height: 70px;
	background-color: yellow;
	margin-left: 734px;
	margin-top: -70px;
	visibility: hidden;
}

.block8 {
	width: 290px;
	height: 20px;
	background-color: yellow;
	margin-left: 734px;
	margin-top: -90px;
	visibility: hidden;
}

.block9 {
	width: 20px;
	height: 175px;
	background-color: yellow;
	margin-left: 1004px;
	margin-top: 0px;
	visibility: hidden;
}

.block10 {
	width: 60px;
	height: 20px;
	background-color: yellow;
	margin-left: 1024px;
	margin-top: -20px;
	visibility: hidden;
}

.block11 {
	background: url(../img/treasure.png) 0 0 / contain no-repeat;
	width: 101px;
	height: 87px;
	margin-left: 1087px;
	margin-top: -60px;
	visibility: hidden;
}

.block1:hover+.block2,
.block2:hover {
	visibility: visible;
}

.block2:hover+.block3,
.block3:hover {
	visibility: visible;
}

.block3:hover+.block4,
.block4:hover {
	visibility: visible;
}

.block4:hover+.block5,
.block5:hover {
	visibility: visible;
}

.block5:hover+.block6,
.block6:hover {
	visibility: visible;
}

.block6:hover+.block7,
.block7:hover {
	visibility: visible;
}

.block7:hover+.block8,
.block8:hover {
	visibility: visible;
}

.block8:hover+.block9,
.block9:hover {
	visibility: visible;
}

.block9:hover+.block10,
.block10:hover {
	visibility: visible;
}

.block10:hover+.block11,
.block11:hover {
	visibility: visible;
}